body{
    font-size:7vh;
    margin:0;
    background-color:lightblue;
}


*{
    box-sizing:border-box;
    margin:0;
}




main{
    height:1000vh;
}

header h1{
    margin:0;
    padding:10px;
    font-size:1em;
    color:white;
    text-shadow:4px 4px 1px rgb(60, 103, 117);
}

header{
    border:2px solid rgb(60, 103, 117);
    background-color:rgb(93, 144, 161);
    margin:0;
}



p{
    font-size:0.5em;
}

footer{
    font-size:0.5em;
    background-color:white;
}

ul{
    margin:0;
    padding:0;
    border:0;
    list-style-type:none;
}


li{
    font-size:0.5em;
    margin-bottom:5px;
    text-align:center;
    background-color:white;
    padding:5px;
    box-shadow:3px 3px 3px rgb(60, 103, 117);
    border:1px solid rgb(60, 103, 117);
}


div{
    margin:0;
    padding:0;
}

.col-1{width:10%;}
.col-2{width:20%;}
.col-3{width:30%;}
.col-4{width:40%;}
.col-5{width:50%;}
.col-6{width:60%;}
.col-7{width:70%;}
.col-8{width:80%;}
.col-9{width:90%;}
.col-10{width:100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

    
[class*="col-"]{
    float:left;
    padding:10px;
    
}

.flex-container {
    background-color:rgba(0,0,0,0);
    display:block;

}


/*MOBILE DESIGN*/
@media screen and (max-width:600px){
    body{
        font-size:10vw;
        background-color:lightblue;
    }
    
    header h1{
        font-size:1em;
    }

    li{
        text-align:center;
        font-size:1em;
        padding:5px;
        background-color:white;
        border:0;
        box-shadow:0 0 rgb(0,0,0);
        margin:0;
    }
    
    ul{
        border:2px solid rgb(60, 103, 117);
        border-top:0;
        font-size:0.5em;
        margin:0;
        padding:0;
        
    }

    
    [class*="col-"]{
        width:100%;
        padding:0;
        
    }
    
    .flex-container {
        background-color:white;
        display: flex;
        flex-direction:row;
        justify-content:space-around;
    }
}


@media screen and (max-width:320px){
    header h1{
        font-size:32
    }
    
    body{
        font-size:5vh;
    }
    
}

a:link,a:visited{
    text-decoration:none;
    color:black;
}

a:hover {
  text-decoration:underline;
}

